* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item {
  width: 150px;
  height: 15vh;
  background-color: skyblue;
  border: 1px solid black;
}

.container-row {
  /* flex box는 부모요소에 'display: flex' 속성을 지정해서 사용 */
  display: flex;
  /* 주축의 방향을 지정하는 속성(가로: row, 세로: column) */
  /* row 또는 column에 '-reverse'를 추가하면 속성 값들이 반전된다. (예: 1,2,3,4,5 -> 5,4,3,2,1) */
  flex-direction: row;
  /* 항목에 줄을 바꿀지 여부를 지정 */
  /* wrap에 '-reverse'를 추가하면 속성 값 한 줄이 개행되어 바뀐다. (예: 123, 45 -> 45, 123) */
  /* flex-wrap: wrap; */

  /* flex-direction과 flex-wrap을 한번에 지정 */
  flex-flow: row wrap;
  gap: 10px;
}

.container-sort {
  height: 200px;
  background-color: blueviolet;
  padding: 5px 0;
  display: flex;
  /* 주축 기준 정렬(start: 시작점, end: 끝점) */
  /* justify-content: space-around; */
  flex-wrap: wrap;

  /* 교차축 기준 정렬 */
  /* align-content: space-around; */

  /* 아이템 위치를 개별적으로 조정하는 교차축 기준 정렬 */
  align-items: baseline;
}

.container-sort > .item {
  width: 80px;
  height: 50px;
}

.container-sort > .item:nth-child(2) {
  line-height: 70px;
}

.container-sort > .item:nth-child(4) {
  /* 교차축 기준 특정 아이템만 정렬 */
  align-self: flex-end;
}