* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 10px;
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 50px);
  gap: 10px;
}

.item {
  border: 1px solid black;
  background-color: cadetblue;
}

/* .row-1to3 {
  grid-row: 1/3;
} */

.row-span2 {
  grid-row-end: span 2;
}

.col-span2 {
  grid-column-end: span 2;
}